* {
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.page {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.home {
  background: lightcoral;
}

.about {
  background: lightgreen;
}

.product {
  background: lightpink;
}

/* .test {
  color: red;
} */
